<div class="body">
    <header>
        <h1>ChatSignalR</h1>
    </header>
    <main #main >
        @for (item of messages; track $index) {
            <div [className]="item.user.id == user?.id ? 'chat-body' : 'chat-body chat-body-other'">
                <div [className]="item.user.id == user?.id  ? 'chat' : 'chat chat-other'">
                    @if (item.user.id != user?.id ) {
                        <p class="name">{{item.user.name}}</p>
                    }
                    <p style="user-select: all;">{{item.text}}</p>
                    <p class="date">{{getDate(item.date)}}</p>
                </div>
            </div>
        }
    </main>
    <footer>
        <mat-form-field class="message">
            <textarea matInput placeholder="Insira sua mensagem" [rows]="1" [(ngModel)]="message"></textarea>
        </mat-form-field>
        <button class="send-button" mat-icon-button (click)="sendMessage()" [disabled]="message === ''">
            <mat-icon class="send" fontIcon="send"/>
        </button>
    </footer>
</div>